@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #CBD5E1;
}

* {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.score-1 {
  border-color: #CA8A04;
}

.score-2 {
  border-color: #E67E22;
}

.score-3 {
  border-color: #E74C3C;
}

.score-4 {
  border-color: #C0392B;
}

.landingtitle {
  font-family: 'Space Mono', monospace !important;
  background-color: rgba(189, 195, 199, 0.8);
}

.lightbg {
  background-color: rgba(189, 195, 199, 0.8);
  padding: 1.25rem;
  border-radius: 0.75rem;
}