@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #CBD5E1;
}

* {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}